<div *ngIf="userService.addNewsAuthorized() == true">
    <form (ngSubmit)="addNews()">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="dateInput">Date</label>
                <input 
                type="date"
                id="dateInput"
                name="dateInput"
                class="form-control"
                [(ngModel)]="date"
                />
            </div>
            <div class="col-md-6">
                <label for="">Description</label>
                <input
                type="text"
                id="descriptionInput"
                name="descriptionInput"
                class="form-control"
                placeholder="What is the News?"
                [(ngModel)]="description"
                />
            </div>
        </div>
        <select #selectCountry (change)="onSelectChange(selectCountry.value)">
            <option *ngFor="let country of countries" [value]=country>{{country}}</option>
        </select>
        <button class="btn btn-primary">Add</button>
    </form>
</div>