<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Clouds Project</a>
            <div class="collapse navbar-collapse justify-content-end">
                <app-auth></app-auth>
            </div>
    </nav>
    <h1>            
        <img class="img-logo" src="https://firebasestorage.googleapis.com/v0/b/cloudsproject-19900.appspot.com/o/covidlogo.png?alt=media&token=5fe4a014-c911-4715-9eb5-0b4ef1257ecf" alt="logo" />
        COVID-19
    </h1>
</div>