<div class="text-center">
    <div class="mb-5">
        <div class="header">
            <h1>            
                <img class="img-logo" src="https://firebasestorage.googleapis.com/v0/b/cloudsproject-19900.appspot.com/o/covidlogo.png?alt=media&token=5fe4a014-c911-4715-9eb5-0b4ef1257ecf" alt="logo" />
                COVID-19
            </h1>
        </div>       
    <h2>Live updates and Statistics</h2>
    <div class="my-3 table-responsive">
        <h3 class="text-center">Corona Virus Summary Worldwide</h3>
        <table class="mx-auto w-auto table" cellspacing="10" cellpadding="10">
            <tbody>
                <tr class="ROW_YELLOW">
                    <td>Total Cases</td>
                    <td>{{ todayData.totalConfirmed! }}</td>
                </tr>
                <tr class=ROW_YELLOW>
                    <td>New Cases</td>
                    <td>{{ todayData.newConfirmed! }}</td>
                </tr>
                <tr class=ROW_YELLOW>
                    <td>Active Cases</td>
                    <td>{{ todayData.activeConfirmed! }}</td>
                </tr>
                <tr class=ROW_BLUE>
                    <td>Total Recovered</td>
                    <td>{{ todayData.totalRecovered! }}</td>
                </tr>
                <tr class=ROW_BLUE>
                    <td>New Recovered</td>
                    <td>{{ todayData.newRecovered! }}</td>
                </tr>
                <tr class=ROW_BLUE>
                    <td>Recovery Rate</td>
                    <td>{{ todayData.recoveryRate! }}</td>
                </tr>
                <tr class=ROW_RED>
                    <td>Total Deaths</td>
                    <td>{{ todayData.totalDeaths! }}</td>
                </tr>
                <tr class=ROW_RED>
                    <td>New Deaths</td>
                    <td>{{ todayData.newDeaths! }}</td>
                </tr>
                <tr class=ROW_RED>
                    <td>Death Rate</td>
                    <td>{{ todayData.deathRate! }}</td>
                </tr>
            </tbody>
        </table>
        <p class="font-italic">Last Updated: {{ todayData.lastUpdated?.toDate() | date }}</p>
    </div>
    <div class="chart-wrapper">
        <h3>Coronavirus Cases Distribution Worldwide</h3>
        <canvas
            baseChart height="80"
            [datasets]="pieChartData"
            [options]="pieChartOptions"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            >
        </canvas>
    </div>
    <div class="chart-wrapper">
        <h3>Daily Coronavirus Cases Worldwide</h3>
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
        </div>
    </div>
    <div class="chart-wrapper">
        <h3>Total Coronavirus Cases Worldwide</h3>
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType">
        >
        </canvas>
    </div>
</div>
