<div style="width:80%; margin: auto">
    <div class="chart-wrapper mb-5">
        <h3>Daily Coronavirus Cases Worldwide</h3>
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </div>
    <div class="chart-wrapper mb-5">
        <p>Note: the API for "https://api.covid19api.com/world/from" is currently broken (16.01.2021). The only other working API I could find 
            for daily World data is "https://corona.lmao.ninja/v2/historical/all", but it only has data for the past ~35 days
        </p>
        <h3>Total Coronavirus Cases Worldwide</h3>
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType">
        </canvas>
    </div>
</div>