<!-- Live world data -->
<h2>Live updates and Statistics</h2>
<div class="my-3 table-responsive">
    <h3 class="text-center">Corona Virus Summary Worldwide</h3>
    <table class="mx-auto w-auto table" cellspacing="10" cellpadding="10">
        <tbody>
            <tr class="ROW_YELLOW">
                <td>Total Cases</td>
                <td>{{ liveData.totalConfirmed! }}</td>
            </tr>
            <tr class=ROW_YELLOW>
                <td>New Cases</td>
                <td>{{ liveData.newConfirmed! }}</td>
            </tr>
            <tr class=ROW_YELLOW>
                <td>Active Cases</td>
                <td>{{ liveData.activeConfirmed! }}</td>
            </tr>
            <tr class=ROW_BLUE>
                <td>Total Recovered</td>
                <td>{{ liveData.totalRecovered! }}</td>
            </tr>
            <tr class=ROW_BLUE>
                <td>New Recovered</td>
                <td>{{ liveData.newRecovered! }}</td>
            </tr>
            <tr class=ROW_BLUE>
                <td>Recovery Rate</td>
                <td>{{ recoveryRateString }}</td>
            </tr>
            <tr class=ROW_RED>
                <td>Total Deaths</td>
                <td>{{ liveData.totalDeaths! }}</td>
            </tr>
            <tr class=ROW_RED>
                <td>New Deaths</td>
                <td>{{ liveData.newDeaths! }}</td>
            </tr>
            <tr class=ROW_RED>
                <td>Death Rate</td>
                <td>{{ deathRateString }}</td>
            </tr>
        </tbody>
    </table>
    <p class="font-italic">Last Updated: {{ liveData.lastUpdated! }}</p>
</div>
<div class="chart-wrapper">
    <h3>Coronavirus Cases Distribution Worldwide</h3>
    <canvas
        baseChart height="80"
        [datasets]="pieChartData"
        [options]="pieChartOptions"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        >
    </canvas>
</div>
<!-- Country case progression (weekly and long term) -->
<app-world-evolution></app-world-evolution>
<!-- Country Table -->
<div style="width:80%; margin: auto">
    <h3>Live Coronavirus Cases By Country</h3>
    <div class="my-3 d-flex justify-content-center">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container> 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/country/', row.Country]"></tr>
        </mat-table>
    </div>
</div>